body {
	background: #e6e6e6;
}

.this {
	opacity: 1;
}

.this.loading {
	opacity: 0.2;
	transition: opacity 600ms;
}

.this .loadingElement {
	display: none;
}

.this.loading .loadingElement {
	display: inherit;
}

.loadingElement {
	float: left;
	font-size: 24px;
	margin: 0 auto;
}
